body {
  font-family:'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:cadetblue;
  margin: 0;
}

.game-container {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  margin: 20px auto;
}

.button-option {
  width: 100px;
  height: 100px;
  font-size: 2rem;
  background-color:aliceblue;
  border: 2px solid #000;
  cursor: pointer;
}
.button-option:hover{
  background-color:lightsteelblue;
  color: aliceblue;
}

.restart-button, .game-mode-select {
  margin-top: 20px;
  padding: 10px;
  font-size: 1rem;
}
.restart-button:hover{
  background-color:midnightblue;
  color: whitesmoke;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:cornflowerblue;
  color: black;
  padding: 20px;
  border: 2px solid #000;
  text-align: center;
}

.popup.show {
  display: block;
}

.hide {
  display: none;
}
